/* Hamburger Menu Styles */
.hamburger-menu {
  position: fixed;
  top: 20px;
  left: 20px; /* Align to the left */
  z-index: 2000;
}

.hamburger-icon {
  width: 30px; /* Width of the icon */
  height: 30px; /* Height of the icon */
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: inherit;
}

.line {
  width: 100%; /* Full width of the icon container */
  height: 3px; /* Thickness of the lines */
  background-color: var(--secondary-color); /* Secondary color for the lines */
  margin: 3px 0; /* Spacing between the lines */
  transition: all 0.3s ease;
}

.hamburger-icon:hover .line,
.hamburger-nav a:hover,
.hamburger-nav a:visited:hover {
  background-color: var(--primary-color); /* Change to primary color on hover */
  color: var(--primary-color); /* Change text color on hover */
}

.hamburger-menu.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Hamburger Navigation */
.hamburger-nav {
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 60px 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.hamburger-menu.open .hamburger-nav {
  transform: translateX(0);
}

.menu a,
.menu a:visited {
  color: var(--secondary-color);
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.menu a:hover,
.menu a:visited:hover {
  color: var(--primary-color); /* Primary color for links on hover and visited */
}

.menu {
  padding-top: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
